.cardContainer {
  margin: 0 3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
}
.h1 {
  text-align: center;
  font-size: 4rem;
  color: var(--textColor);
  margin-bottom: 6rem;
}
.cardContent {
  justify-self: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  box-shadow: 1rem 1rem 1rem 2px #fbd3d5;
  padding: 2rem;
  border-radius: 1rem;
}
.cardContent img {
  width: 30rem;
  aspect-ratio: 1;
  margin-bottom: 2rem;
  border-radius: 1rem;
}
.shortInfo {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 2rem;
  align-items: center;
  margin-bottom: 2rem;
}
.cardContent h2 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 1.8rem;
  color: var(--titleColor);
}
.link {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  font-size: 2rem;
  text-decoration: none;
  font-weight: 600;
  background-color: #fbd3d5;
  padding: 0.3rem 1.2rem;
  border-radius: 0.5rem;
  color: var(--titleColor);
  width: 25rem;
  transition: all 0.5s;
  position: relative;
  z-index: 0;
}
.link:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ef4d58,
    #f1646d,
    #f59097,
    #f37a82,
    #eb212e,
    #f7a6ab,
    #ffffff,
    #fbd3d5,
    #fde9ea,
    #f9bcc0,
    #ed3743
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 8px);
  height: calc(100% + 8px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}
.link:hover:before {
  opacity: 1;
}
.link:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fbd3d5;
  left: 0;
  top: 0;
  border-radius: 10px;
}
@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
.icon {
  font-size: 2.9rem;
  margin-top: 0.4rem;
  color: var(--mainColor);
}

.link:active > .order {
  display: none;
}
.link:active .icon {
  animation: car 1s 1;
}

@keyframes car {
  100% {
    margin-left: 20rem;
  }
}
