.detailContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 6rem;
  column-gap: 6rem;
  margin: 2rem;
}
.tableContainer {
  display: flex;
  justify-content: center;
  justify-self: center;
}
.table {
  font-size: 2rem;
  display: flex;
  gap: 3rem;
}
.table thead tr {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.table tbody tr {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.table tbody tr td:nth-child(3) {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.moreChooses {
  margin-top: 6rem;
  justify-self: center;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.moreChooses div:nth-child(1) {
  font-size: 2.2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.moreChooses div:nth-child(1) select {
  border: 2px dotted black;
  padding: 2px 1rem;
  border-radius: 1rem;
}
.moreChooses div:nth-child(1) span {
  font-size: 2.5rem;
  margin-top: 0.5rem;
}
.moreChooses div:nth-child(2),
.moreChooses div:nth-child(3) {
  font-size: 1.8rem;
  display: flex;
  gap: 2rem;
}
.link {
  text-decoration: none;
  background-color: var(--detail);
  color: #fff;
  padding: 0.4rem 1rem;
  border-radius: 1rem;
}
.buy {
  font-size: 2.2rem;
  margin-top: -0.5rem;
  padding: 0.6rem 1.2rem;
}
.time span {
  color: var(--detail);
}
.isLike {
  display: flex;
  align-items: center;
  gap: 2rem;
}

@media (max-width: 1190px) {
  .detailContainer {
    display: flex;
    flex-direction: column;
  }
  .moreChooses {
    align-items: center;
  }
  .moreChooses div:nth-child(1) {
    font-size: 3.2rem;
  }
  .moreChooses div:nth-child(1) select {
    font-size: 2.8rem;
  }
  .moreChooses div:nth-child(1) span {
    font-size: 3.5rem;
  }
  .moreChooses div:nth-child(2),
  .moreChooses div:nth-child(3) {
    font-size: 2.2rem;
  }
  .buy {
    font-size: 2.6rem;
  }
  .hh3 {
    font-size: 2.2rem;
  }
  .table {
    font-size: 3rem;
  }
}

@media (max-width: 635px) {
  .moreChooses div:nth-child(3) {
    flex-direction: column;
  }
  .isLike {
    flex-direction: column;
  }
}
