.allcontainer {
  margin-bottom: 6rem;
}
.allcontainer h1 {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 3rem;
  color: var(--textColor);
}
.header {
  margin-bottom: 6rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.header p {
  font-size: 1.8rem;
}
.container img {
  width: 22rem;
  border-radius: 50%;
  position: relative;
  border: 3px solid var(--mainColor);
}

.container p {
  font-size: 1.8rem;
  width: 60rem;
  color: var(--textColor);
  line-height: 2;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15rem;
  padding: 0rem 10rem;
  margin-bottom: 4rem;
}
.container:nth-child(odd) {
  flex-direction: row-reverse;
}

.title {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.title h2 {
  font-size: 2.5rem;
  color: var(--titleColor);
}
